.logo, .logo li{
    padding: 0;
}

.logo {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

    li {
        margin: 0%; 
        list-style-type: none;
        line-height: 6px;
}

a {
    margin: 0% 0.8% 1%;
    // padding: 0.125rem;
    text-decoration: none;
    color:khaki;
    transition: color 0.55s;
}

a:hover {
    color: whitesmoke;
}

hr {
    margin: .75rem 0.8%;
    background: khaki;
}

i {
    font-family: Ffont;
}

footer {
    text-align: center;
    padding: 5vh 2%;
    background-color: #597387;
    color: lightgrey;
}

#copyright{
    margin: 4vh 0vh 1vh;
}


@media screen and (max-width: 480px){
    .logo {
        justify-content: space-around;
    }
}