.navbar-scrollDown{
    background-color: rgba($color: #597387, $alpha: 1);
    transition: 0.65s;
}
.navbar-scrollDown a {
    color: white;
}

#navbar_logo {
    width: 45px;
    height: 30px;
    margin-right: -2%;
}
