@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
/* variables for general colors */
/* variables for card colors */
/* ariable for the font */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #d8f3dc;
}

header {
  position: relative;
  height: 100vh;
  background-color: #434a54;
  color: white;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header #website_name {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 8rem;
  font-family: "Ephesis", cursive;
  text-shadow: 20px 3px 12px #d8f3dc;
}

#navigation_bar {
  background-color: #95d5b2;
  border-top: #618685;
}

#navigation_bar a {
  font-weigth: lighter;
  font-family: "Ephesis", cursive;
}

main {
  height: auto;
  background: #d8f3dc;
}

#intro {
  height: 100vh;
  background: #40916c;
  color: #d8f3dc;
  padding: calc(50vh - clamp(1.75rem, 12vw, 12rem)) 1rem 2rem;
  text-align: center;
}

#intro h1 {
  font-size: clamp(1.75rem, 9vw, 10rem);
  margin: 2rem 0rem 2rem;
}

#intro p {
  font-size: clamp(1rem, 3.5vw, 4.5rem);
}

article {
  max-width: clamp(50ch, 80vw, 85ch);
  margin: 10vh auto 8vh;
}

article h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24pt;
}

article p:first-letter {
  text-align: justify;
  font-size: 3rem;
  padding-right: .225rem;
}

article p {
  line-height: 24pt;
}

#sort {
  width: 95vw;
  text-align: right;
  margin: 6rem auto 1rem;
}

#sort #sort-btn {
  padding: .25rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#95d5b2), color-stop(50%, #40916c), color-stop(130%, #95d5b2));
  background-image: linear-gradient(#95d5b2, #40916c 50%, #95d5b2 130%);
  color: #d8f3dc;
}

#sort #sort-btn option {
  color: #40916c;
  background: #d8f3dc;
  font-size: .85rem;
}

#sort hr {
  width: 95vw;
  margin: -.8rem auto 0rem;
  padding: .3rem 0rem;
  background: #40916c;
  border-radius: 50px;
}

footer {
  height: 20vh;
  background: #40916c;
  color: white;
}

/* ------------------
    media query small screen
    ------------------------ */
@media screen and (max-width: 767px) {
  header {
    background-image: url("../img/mobile_header.jpg") !important;
  }
  header #website_name {
    bottom: 25%;
    font-size: clamp(1.5rem, 18vw, 6rem);
    font-family: "Ephesis", cursive;
    text-shadow: -10px -8px 6px #c89d68;
  }
  #navigation_bar {
    background-color: #312921 !important;
    color: #c89d68 !important;
    border: #312921 1px solid !important;
  }
  #navigation_bar a {
    font-color: white !important;
  }
  main {
    background-color: white;
  }
  #intro {
    background: #312921;
    color: #c89d68;
    padding: 20vh 2vw 5vh;
  }
  article {
    color: #746560;
    padding: 0rem 1rem;
    text-align: justify;
    margin-bottom: 1rem;
  }
  #sort #sort-btn, #sort #sort-btn option {
    color: white;
  }
  #sort #sort-btn {
    margin: 2rem 0rem -1rem;
    padding: .25rem 2.5rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c89d68), color-stop(10%, #746560), color-stop(80%, #746560), color-stop(110%, #c89d68));
    background-image: linear-gradient(#c89d68, #746560 10%, #746560 80%, #c89d68 110%);
  }
  #sort #sort-btn option {
    background: #c89d68;
  }
  #sort hr {
    background: #312921;
    margin-top: -.325rem;
  }
  footer {
    background: #746560;
    text-shadow: 2px 1px 10px #40916c;
    padding: 0;
  }
  footer span {
    font-family: "Ephesis", cursive;
    font-size: 3.5vw;
    text-shadow: 2px 1px 10px #40916c;
  }
  /* hiding the pictures */
  #card_img {
    display: none;
  }
  /* styling the cards */
  #card_settings {
    background-color: #g3c7b7;
    border: inset 5px #746560;
    border-radius: 20px;
    color: #746560;
  }
  #card_settings h3 {
    color: #c89d68;
    font-size: 180%;
    padding: 3% 3%;
    background-color: #312921;
    background-padding: 5%;
  }
  #card_settings i {
    background: #746560;
    color: #d3c7b7;
    border-top: 5px solid #c89d68;
  }
  #card_settings hr {
    color: #873c1e;
  }
  #card_settings a {
    color: #c89d68;
    text-decoration: none;
  }
  #card_settings span {
    color: #c89d68;
  }
}
/*# sourceMappingURL=CR-5_style.css.map */